<div class="flex-grid">
        <div class="flex-col">
            <a href="https://www.ngvikings.org/" name="ngVikings" target="_blank">
                <div class="picture-wrapper">
                    <img src="/assets/images/ngVikings.svg" alt="ngVikings" class="img-responsive logo">
                </div>
                <span class="group-title hidden-xs">
                    ngVikings
                </span>
            </a>
            <div class="social">
                <a href="https://ngvikings.org/" name="ngVikings" target="_blank">
                    <i class="fa fa-globe" alt="Website"></i>
                </a>
                <a href="https://twitter.com/ngvikingsconf" name="ngVikings_twitter" target="_blank">
                    <i class="fab fa-twitter" alt="Twitter"></i>
                </a>
            </div>
        </div>

        <div class="flex-col">
            <a href="https://ngspain.com" name="ngSpain" target="_blank">
                <div class="picture-wrapper">
                    <img src="/assets/images/blank.svg" alt="ngSpain" class="img-responsive logo">
                </div>
                <span class="group-title hidden-xs">
                    ngSpain                 
                </span>
                <div class="social">
                    <a href="https://ngspain.com" name="ngSpain" target="_blank">
                        <i class="fa fa-globe" alt="Website"></i>
                    </a>
                    <a href="https://twitter.com/ngSpain" name="ngSpain_twitter" target="_blank">
                        <i class="fab fa-twitter" alt="Twitter"></i>
                    </a>
                </div>
            </a>
        </div>

        <div class="flex-col">
            <a href="http://ng-atl.org/" name="ngAtlanta" target="_blank">
                <div class="picture-wrapper">
                    <img src="/assets/images/ngAtl.svg" alt="ngAtlanta" class="img-responsive logo" >
                </div>
                <span class="group-title hidden-xs">
                    ngAtlanta                 
                </span>
                <div class="social">
                    <a href="http://ng-atl.org/" name="ngAtlanta" target="_blank">
                        <i class="fa fa-globe" alt="Website"></i>
                    </a>
                    <a href="https://twitter.com/ngAtlanta" name="ngAtlanta_twitter" target="_blank">
                        <i class="fab fa-twitter" alt="Twitter"></i>
                    </a>
                </div>
            </a>
        </div>

        <div class="flex-col">
            <a href="https://2018.angular.tw/" name="ngTaiwan" target="_blank">
                <div class="picture-wrapper">
                    <img src="/assets/images/ngTaiwan.svg" alt="ngTaiwan" class="img-responsive logo">
                </div>
                <span class="group-title hidden-xs">
                    ngTaiwan                 
                </span>
                <div class="social">
                    <a href="https://2018.angular.tw/" name="ngTaiwan" target="_blank">
                        <i class="fa fa-globe" alt="Website"></i>
                    </a>
                    <a href="https://twitter.com/#ngTaiwan" name="ngTaiwan_twitter" target="_blank">
                        <i class="fab fa-twitter" alt="Twitter"></i>
                    </a>
                </div>
            </a>
        </div>

        <div class="flex-col">
            <a href="http://angulardenver.com/" name="ngDenver" target="_blank">
                <div class="picture-wrapper">
                    <img src="/assets/images/ngDenver.png" alt="ngDenver" class="img-responsive logo">
                </div>
                <span class="group-title hidden-xs">
                    ngDenver                 
                </span>
                <div class="social">
                    <a href="http://angulardenver.com/" name="ngDenver" target="_blank">
                        <i class="fa fa-globe" alt="Website"></i>
                    </a>
                    <a href="https://twitter.com/angulardenver" name="ngDenver_twitter" target="_blank">
                        <i class="fab fa-twitter" alt="Twitter" ></i>
                    </a>
                </div>
            </a>
        </div>

        <div class="flex-col">
            <a href="https://ng-be.org/" name="ng-BE" target="_blank">
                <div class="picture-wrapper">
                    <img src="/assets/images/ngBe.svg" alt="ng-BE" class="img-responsive logo">
                </div>
                <span class="group-title hidden-xs">
                    ng-BE                 
                </span>
                <div class="social">
                    <a href="https://ng-be.org/" name="ng-BE" target="_blank">
                        <i class="fa fa-globe" alt="Website"></i>
                    </a>
                    <a href="https://twitter.com/ngbeconf" name="ngBE_twitter" target="_blank">
                        <i class="fab fa-twitter" alt="Twitter" ></i>
                    </a>
                </div>
            </a>
        </div>

        <div class="flex-col">
            <a href="https://ngcolombia.com/" name="NG Colombia" target="_blank">
                <div class="picture-wrapper">
                    <img src="/assets/images/ngColombia.png" alt="ng-Colombia" class="img-responsive logo">
                </div>
                <span class="group-title hidden-xs">
                    NG Colombia
                </span>
                <div class="social">
                    <a href="https://ngcolombia.com/" name="NG Colombia" target="_blank">
                        <i class="fa fa-globe" alt="Website"></i>
                    </a>
                    <a href="https://twitter.com/yuxiglobal" name="ngColombia_twitter" target="_blank">
                        <i class="fab fa-twitter" alt="Twitter" ></i>
                    </a>
                </div>
            </a>
        </div>
       
</div>
