<div class="container">
    <div class="row groups">
        <div class="group">
            <a href="https://www.ngvikings.org/">
                <div class="picture-wrapper">
                    <img src="/assets/images/vikings.png" alt="ngVikings" class="img-responsive logo">
                </div>
                <span class="group-title hidden-xs">
                    ngVikings
                </span>
            </a>
            <div class="social">
                <a href="https://ngvikings.org/">
                    <i class="fa fa-globe-americas"></i>
                </a>
                <a href="https://twitter.com/ngvikingsconf">
                    <i class="fab fa-twitter"></i>
                </a>
            </div>
        </div>
        <div class="group">
            <a href="https://aindustriosa.org/">
                <div class="picture-wrapper">
                    <img src="/assets/images/angular.png" alt="ngSpain" class="img-responsive logo">
                </div>
                <span class="group-title hidden-xs">
                    ngSpain                 
                </span>
                <div class="social">
                    <a href="https://aindustriosa.org/">
                        <i class="fa fa-globe"></i>
                    </a>
                    <a href="https://twitter.com/aindustriosa">
                        <i class="fab fa-twitter"></i>
                    </a>
                </div>
            </a>
        </div>
       
    </div>
</div>
