<div class="flex-grid">
        <div class="flex-col">
            <a href="https://www.ngvikings.org/" name="ngVikings">
                <div class="picture-wrapper">
                    <img src="/assets/images/vikings.png" alt="ngVikings" class="img-responsive logo">
                </div>
                <span class="group-title hidden-xs">
                    ngVikings
                </span>
            </a>
            <div class="social">
                <a href="https://ngvikings.org/" name="ngVikings">
                    <i class="fa fa-globe" alt="Website"></i>
                </a>
                <a href="https://twitter.com/ngvikingsconf" name="ngVikings_twitter">
                    <i class="fab fa-twitter" alt="Twitter"></i>
                </a>
            </div>
        </div>

        <div class="flex-col">
            <a href="https://ngspain.com" name="ngSpain">
                <div class="picture-wrapper">
                    <img src="/assets/images/blank.svg" alt="ngSpain" class="img-responsive logo">
                </div>
                <span class="group-title hidden-xs">
                    ngSpain                 
                </span>
                <div class="social">
                    <a href="https://ngspain.com" name="ngSpain">
                        <i class="fa fa-globe" alt="Website"></i>
                    </a>
                    <a href="https://twitter.com/ngSpain" name="ngSpain_twitter">
                        <i class="fab fa-twitter" alt="Twitter"></i>
                    </a>
                </div>
            </a>
        </div>

        <div class="flex-col">
            <a href="http://ng-atl.org/" name="ngAtlanta">
                <div class="picture-wrapper">
                    <img src="/assets/images/ngAtl.svg" alt="ngAtlanta" class="img-responsive logo">
                </div>
                <span class="group-title hidden-xs">
                    ngAtlanta                 
                </span>
                <div class="social">
                    <a href="http://ng-atl.org/" name="ngAtlanta">
                        <i class="fa fa-globe" alt="Website"></i>
                    </a>
                    <a href="https://twitter.com/ngAtlanta" name="ngAtlanta_twitter">
                        <i class="fab fa-twitter" alt="Twitter"></i>
                    </a>
                </div>
            </a>
        </div>

        <div class="flex-col">
            <a href="https://2018.angular.tw/" name="ngTaiwan">
                <div class="picture-wrapper">
                    <img src="/assets/images/ngTaiwan.svg" alt="ngTaiwan" class="img-responsive logo">
                </div>
                <span class="group-title hidden-xs">
                    ngTaiwan                 
                </span>
                <div class="social">
                    <a href="https://2018.angular.tw/" name="ngTaiwan">
                        <i class="fa fa-globe" alt="Website"></i>
                    </a>
                    <a href="https://twitter.com/#ngTaiwan" name="ngTaiwan_twitter">
                        <i class="fab fa-twitter" alt="Twitter"></i>
                    </a>
                </div>
            </a>
        </div>
       
</div>
